<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="actions" value="[{'Path':'test1','ShouldExecute':true},{'Path':'test2','ShouldExecute':false}]"/> <!--executables to be executed after recognizing a face in JSON format-->
    <add key="streamAddress" value=""/> <!--intercom/camera stream address-->
    <add key="subscriptionKey" value=""/> <!--enter azure subscription key-->
    <add key="faceApiUri" value =""/> <!--enter api uri https://westeurope.api.cognitive.microsoft.com/-->
  </appSettings>
</configuration>
